body{
  font-family: 'Poppins';
}
.landing{
    background-image: url('assets/backgrounds/landing.jpg');
    
  }
.logo img{
  width: 210px;
  height: 210px;
  position: relative;
  left: 46%;
  top: 20px;
  padding-top: 160px;
}

.logo p{
    color: rgb(192, 187, 187);
    text-align: center;
    font-size: 40px;
    padding-bottom: 110px;
    padding-top: 20px;
}
span{
    color: white;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.container-1{
  flex-wrap: wrap;
}
.item-1{
  background-color: rgb(192, 187, 187);
  width: 200px;
  height: 100px;
}
#happy{
  color: black;
  font-style: normal;
  font-size: large;
}
h4{
  color: white;
  font-style: italic;
  text-align: center;
  font-size: large;
}
.item-2{
  background-color: #F15A29;
  width: 200px;
  height: 100px; 
}
.item-3{
  background-image: url('assets/foodtop/breakfast.jpg');
  width: 300px;
  height: 200px; 
}
.item-4{
  background-image: url('assets/foodtop/lunch.jpg');
  width: 300px;
  height: 200px; 
}
.item-5{
  background-image: url('assets/foodtop/dinner.jpg');
  width: 300px;
  height: 200px; 
}
.gallery-container{
  display: flex;
  flex-wrap: wrap;
  border: 20px solid whitesmoke;
  float: left;
  width: 490px;
  height: 200px;
}
.fast-food h1,h2,p,button{
   position: relative;
   left: 70px;
 }
 button{
   color: #F15A29;
   background-color: white;
   border: solid #F15A29;
   width: 200px;
   height: 50px;
 }
.drinks-gallery img{
    
}